/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
div {
    display: block;
}
  
body {
    color: #ffffff; /* A cor do texto, conforme sua preferência ou design */
    background-color: #111416; /* A cor de fundo, conforme sua preferência ou design */
    flex-direction: column;
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif; /* Substitua pelo nome da fonte desejada */
    font-size: 24px;
    line-height: 32px;
}

.container-1350 {
    max-width: 1032px;
    margin-left: auto;
    margin-right: auto;
  }
  
/* Estilos para a barra de navegação */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /*background-color: #1a1a1a;*/ /* Ou a cor que você preferir */
}
  
/* Estilização do nome no canto esquerdo da navbar */
.logo a {
    color: #ffffff; /* Ou a cor que você preferir */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem; /* Ajuste para o tamanho desejado */
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    color: #ffffff; /* Ou a cor que você preferir */
    text-decoration: none;
    margin-left: 2rem; /* Ajuste para o espaçamento desejado */
    font-size: 1rem; /* Ajuste para o tamanho desejado */
}
  
nav a:hover {
    text-decoration: underline; /* Estilo ao passar o mouse */
}
  
/* Botão 'Resume' estilizado diferentemente */
.resume-button {
    background-color: #383838; /* Substitua pela cor do botão no design */
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-left: 2em; /* Espaçamento adicional para o botão 'Resume' */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}
  
.resume-button:hover {
    background-color: #367c39; /* Substitua pela cor do botão ao passar o mouse */
}
  
/* Estilização do seletor de idioma */
header nav a.language-selector {
    font-weight: bold;
    border-bottom: 2px solid #ffffff; /* Estilo do sublinhado */
}

/* Estilos para o dropdown */
.language-dropdown {
  position: relative;
  display: inline-block;
}
  
.dropbtn {
  background-color: #1a1a1a; /* Ou a cor que você preferir */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
  
.language-dropdown:hover .dropbtn {
  background-color: #333333; /* Ou a cor que você preferir ao passar o mouse */
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Cor de fundo do menu dropdown */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black; /* Cor do texto dos links no menu dropdown */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Cor de fundo dos links ao passar o mouse */
}
  
.language-dropdown:hover .dropdown-content {
  display: block;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
  
a {
    background-color: rgba(0, 0, 0, 0);
}
  
a:-webkit-any-link {
    cursor: pointer;
}
  
.project {
    margin-top: 160px;
}
  
.footer {
  background-color: #262626;
  margin-top: 120px;
  margin-bottom: 0;
  padding-top: 84px;
  padding-bottom: 124px;
}

.div-block-194 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block-94 {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text-block-95 {
  color: #2a2a2b;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

.div-block-195 {
  font-size: 18px;
  grid-column-gap: 40px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-195 a {
  text-decoration: underline;
}